In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")
customers = pd.read_csv("customers.csv")

In [3]:
orders.order_date = pd.to_datetime(orders.order_date)

In [4]:
merged_orders = orders.merge(products[['product_id','price']], on = 'product_id', how = 'left')

In [5]:
top_products_22 = merged_orders[merged_orders['order_date'].dt.year == 2022]

In [6]:
top_products_22

    order_id customer_id product_id  quantity order_date   price
0     O00001       C0333       P022         1 2022-01-09  185.33
1     O00002       C0068       P090         1 2022-01-27  947.55
2     O00003       C0483       P021         1 2022-01-17  938.65
3     O00004       C0214       P076         4 2022-01-07  154.17
4     O00005       C0411       P073         4 2022-01-12  131.85
..       ...         ...        ...       ...        ...     ...
823   O00824       C0013       P080         1 2022-12-10  642.94
824   O00825       C0030       P077         2 2022-12-20  233.11
825   O00826       C0487       P077         1 2022-12-02  233.11
826   O00827       C0363       P016         1 2022-12-29  929.88
827   O00828       C0439       P078         2 2022-12-11  723.64

[828 rows x 6 columns]

In [7]:
top_products_22['year'] = merged_orders['order_date'].dt.year
top_products_22['month'] = merged_orders['order_date'].dt.month

C:\Users\afham\AppData\Local\Temp\ipykernel_12660\4104991604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_products_22['year'] = merged_orders['order_date'].dt.year
C:\Users\afham\AppData\Local\Temp\ipykernel_12660\4104991604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_products_22['month'] = merged_orders['order_date'].dt.month

In [8]:
top_products_22

    order_id customer_id product_id  quantity order_date   price  year  month
0     O00001       C0333       P022         1 2022-01-09  185.33  2022      1
1     O00002       C0068       P090         1 2022-01-27  947.55  2022      1
2     O00003       C0483       P021         1 2022-01-17  938.65  2022      1
3     O00004       C0214       P076         4 2022-01-07  154.17  2022      1
4     O00005       C0411       P073         4 2022-01-12  131.85  2022      1
..       ...         ...        ...       ...        ...     ...   ...    ...
823   O00824       C0013       P080         1 2022-12-10  642.94  2022     12
824   O00825       C0030       P077         2 2022-12-20  233.11  2022     12
825   O00826       C0487       P077         1 2022-12-02  233.11  2022     12
826   O00827       C0363       P016         1 2022-12-29  929.88  2022     12
827   O00828       C0439       P078         2 2022-12-11  723.64  2022     12

[828 rows x 8 columns]

In [13]:
revenue = top_products_22['price'].sum()
print(f"Total Revenue of year 2022: {revenue}")

Total Revenue of year 2022: 442073.72

In [24]:
#merged_orders_22 = orders.merge(customers[['customer_id','age',"gender"]], on = 'coustomer_id', how = 'left')
merged_data_22 = orders.merge(products, customers[['customer_id', 'gender', 'age']], on ='customer_id', how ='left')

TypeError: DataFrame.merge() got multiple values for argument 'how'

In [31]:
 top_products_22.customer_id.value_counts().index

Index(['C0267', 'C0080', 'C0129', 'C0028', 'C0364', 'C0047', 'C0497', 'C0083',
       'C0471', 'C0336',
       ...
       'C0398', 'C0142', 'C0174', 'C0265', 'C0011', 'C0017', 'C0226', 'C0279',
       'C0137', 'C0363'],
      dtype='object', name='customer_id', length=417)

In [30]:
customers[customers['customer_id'] == top_products_22.customer_id.value_counts().index[0]]

    customer_id    name  age  gender            city
266       C0267  Steven   29  Female  Heatherborough